.hhh {
    text-align: center;
    font-size: x-large;
    position: relative;
    font-weight: bold;
    color: red;
    filter: blur(1px);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 12px;
    border: 12px solid aquamarine;
    border-style: dotted;
}

.para {
    text-align: center;
    color: white;
    font-style: oblique;
    font-weight: bolder;
    position: relative;
    bottom: 180px; 
    left: 138px;  
    border: 10px solid aqua; 
    width: 80%;
}
/*.blr{
    background: gray;
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}*/

.hr {
    color: royalblue;
    font-style: italic;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    text-align: center;
}

.hd {
    color: palevioletred;
    font-style: italic;
}

blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; // for Safari 4.0 - 8.0
    animation: 2s linear infinite condemned_blink_effect;
}

@-webkit-keyframes condemned_blink_effect {
    // for Safari 4.0 - 8.0
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}