body,
html {
    background-color: saddlebrown;
}

h1 {
    text-align: center;
    font: bolder;
    color: aqua;
    border: 10px solid white;
    width: 50%;
    position: relative;
    left: 300px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

button[type=submit] {
    background-color: aqua;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

button[type=reset] {
    background-color: aqua;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 40px;
}

input[type=radio] {
    font-size: 20px;
}

h1 {
    text-align: center;
    font: bolder;
    color: aqua;
    border: 10px solid white;
    width: 50%;
    position: relative;
    left: 300px;
    margin: 0;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: example1 10s linear infinite;
    -webkit-animation: example1 10s linear infinite;
    animation: example1 10s linear infinite;
}


/* Move it (define the animation) */

@-moz-keyframes example1 {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes example1 {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes example1 {
    0% {
        -moz-transform: translateX(100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(100%);
        /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-100%);
        /* Firefox bug fix */
        transform: translateX(-100%);
    }
}
